$bg : #f3f3f3;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    padding: 0;
    font-size: 16px;
    // background-color: $bg;
    background-color: #fff;
    margin: 0;
    font-family: 'Cambria';
}

h1 {
    font-weight: bold;
    margin-top: 28px;
    text-align: center;
    font-family: 'Cambria';
    text-transform: uppercase;
    word-spacing: 5px;
    font-size: 2.8em;
    color: #000;
}

h2 {
    font-size: 2.25rem;
    font-weight: lighter;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    svg {
        position: absolute;
        width: 700px;
        height: 65vh;
        margin: auto;
        transition: all 1s ease;
        transform-box: fill-box;
        transform-origin: center;
    }
}

#Polygone_2, #Polygone_3, #Polygone_4, #Polygone_5, #Polygone_6, #Polygone_7 {
    color: rgba(0, 0, 0, 0);
    //transition: color .5s ease;
    transition: transform 1s ease;
    &:hover {
        cursor: pointer;
        transition: all .5s ease;
        color: rgba(194, 194, 194, 0.5);
    }
}

#Polygone_1 {
    color: $bg;
}

.button-container {
    width: 100%;
    margin: auto;
    bottom: 5vh;
    position: absolute;
    text-align: center;
    #turn {
        justify-content: center;
        cursor: pointer;
        z-index: 10;
        width: 15%;
        height: 5vh;
        font-family: 'Cambria';
        font-weight: bold;
        font-size: 1em;
        color: rgb(112, 112, 112);
        border: 1px dotted rgba(194, 194, 194, 0.5);
        background-color: rgba(255, 255, 255, 0);
        transition: all 1s ease;
        &:hover {
            letter-spacing: 1px;
            color: rgb(32, 32, 32);
            transition: all 1s ease;
            background-color: rgba(194, 194, 194, 0.5);
        }
    }
}

.menu-button {
    position: fixed;
    width: 5%;
    margin: 1.5%;
    z-index: 2;
    button {
        padding: 10px;
        cursor: pointer;
        justify-content: center;
        height: 5vh;
        font-family: 'Cambria';
        font-weight: bold;
        color: rgb(112, 112, 112);
        border: 1px dotted rgba(194, 194, 194, 0.5);
        background-color: #fff;
        transition: all 1s ease;
        &:hover {
            color: rgb(32, 32, 32);
            transition: all 1s ease;
            background-color: rgba(194, 194, 194, 0.5);
        }
    }
}

.container__btn{
    font-size: 1.25rem;
    font-weight: lighter;
}

.display{
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0); 
    text-transform: uppercase;
}

.display, .display__article, .display__article > container, .ramif{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display, .display__article{
    flex-direction: column;
}

.display__article {
    width: 800px;
    img {
        height: 80vh;
    }
}

container{
    flex-direction: row;
    margin: 2rem;
   
}

.btn-menu{
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.container__btn{
    padding: 2rem;
    margin: 1rem;
    background-color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    transition: 0.5s;

    &--small {
        padding: 1rem;
    }

    &:hover {
        border: 1px solid #000;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        transform: scale(1.1);
        cursor: pointer;
    }
}


.hidden {
    &--diag {
        transform: translate(100%, -100%);
    }
    &--right{
        transform: translate(100%, -300%);
    }
    &--bottom{
        transform: translate(0, -200%);
    }
}